        .friend , .group img {
            float: left;
            margin: 15px;
        }
        .group {
            height: 220px;
        }
        .group-name {
            line-height: 220px;
            font-size: 30px;
            height: 220px;
        }
        .photos-each {
            margin: 15px;
            
        }
        .photos-each span {
            display: inline-block;
            margin-right: 5px;
        }
        .photos-each p {
            display: inline-block;
        }
        .photos-each > img{
          display: block;
          margin: 0 auto;
          background: yellow;
        }
        .comment {
          background: gold;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .comment > img{
          float: left;
        }
        